@font-face {
 font-family: "GrotzecCond-Demibold";
  src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}  

body {
    background-image: url('background.png');
    background-size: contain;
    background-color: #020152;
    margin: 0;
}

.container {
    width: 45%;
    text-align: left;
    margin:0 auto 0 auto;
    padding-bottom: 20px;
}

.container h2 {
    color: RGB(255,215,0);
    font-size: 5em;
    font-family: "GrotzecCond-Demibold";
    letter-spacing: 2px;
    line-height: 20px;
}

.container h3 {
    color: white;
    font-size: 3em;
    font-family: "GrotzecCond-Demibold";
}

.container h4 {
    color: RGB(255,215,0);
    font-size: 3em;
    font-family:"GrotzecCond-Demibold";
}

.container p {
    font-family: monospace;
    font-size: 20px;
    color: white;
}

.container ol {
    font-family: monospace;
    font-size: 20px;
    color: white;
    text-align: left;
    width: 75%;
}
